<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot + HTMX</title>
    <!-- โหลด HTMX -->
    <!--<script src="https://unpkg.com/htmx.org@1.9.10"></script>-->
    <script th:src="@{/webui/js/htmx.min.js}"></script>
</head>
<!-- hx-headers: ให้ HTMX แนบ CSRF token ไปกับทุก request ที่ยิงจากหน้านี้ -->
<body th:hx-headers='|{"${_csrf.headerName}": "${_csrf.token}"}|'>
    <h1>HTMX Demo</h1>

    <div id="contact-section">
     aaaa
        <button th:hx-get="@{/webui/contact/1}" 
                hx-target="#contact-section" 
                hx-swap="innerHTML">
            Show Contact Info
        </button>
    </div>
</body>
</html>